@model IEnumerable<eCommerce.DAL.TB_PRODUCT>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Productos
        <a class="btn btn-info pull-right" href="../Admin/ProductAdd">Añadir</a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width:"100%" cellpadding="0">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Producto</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        int count = 0;
                        <tr>
                            <td>@count</td>
                            <td>@item.PRODUCT_NAME</td>
                            <td>
                                <a href="@Url.Action("ProductEdit", "Admin", new { recordID = item.PRODUCT_ID })">Edit</a>
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>