@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<address>
    MOD.3D<br />
    Carrera 24# 5-55 Colombia<br />
    <abbr title="Phone">Telefono:</abbr>
    312 731 4447
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">mods.threed@gmail.com</a><br />
    <strong>Desing:</strong> <a href="mailto:Marketing@example.com">mods.threed@gmail.com</a>
</address>